@import '_variables.scss';
@import'_fonts.scss';
.about {
    background-color: $colorTag;
    &__block {
        display: grid;
        grid-template-columns: repeat(2,auto);
        grid-template-rows: repeat(3,auto);
        column-gap: 42px;
        padding-top: 30px;
        padding-bottom: 68px;
        align-items: flex-start;
        justify-self: start;
        grid-template-areas:
          "head head"
          "text img"
          "text form";
          &-form {
            position: relative;
            &-head{
              font-size: 22px;
              padding-top: 18px;
              margin-bottom: 13px;
              color: $colorWhite;
            }
            &-btn{
              font-size: 16px;
              min-width: 20%;
              min-height: 50px;
              background-color: $orange;
              color: $colorWhite;
              border: none;
              outline: none;
              transition: 0.3s background linear, 0.3s border linear;
              &:hover{
                background-color: $hoverClassicBtn;
              }
              &:focus {
                  background-color: #FF6E30;
                  border: 2px solid #CE4307;
              }
              &:active {
                  background-color: #CE4307;
              }
            }
            &-email{
             
              min-width: 76%;
              min-height: 50px;
              margin-right: 20px;
              font-family: 'Roboto';
              padding-left: 23px;
              font-size: 16px;
              border: none;
              outline: none;
              &-error {
                display: none;
                position: absolute;
                top: 66px;
                left: 24px;
                color: #F06666;
                font-size: 9px;
              }
            }
          }
    }
    &__block-head{
        font-size: 24px;
        font-weight: bold;
        color: $colorWhite;
        grid-area: head;
    }
    &__block-text {
        grid-area: text;
        padding-top: 4px;
        font-family: 'Roboto';
        font-size: 16px;
        line-height: 28px;
        color: $colorWhite;
    }
    &__block-img {
        grid-area: img;
    }
    &__block-form {
        grid-area: form;
        &-email {
          background-color: #4A4A4A;
        }
    }
}


@media (max-width: $breakpoint1) {
  .about {
      padding-bottom: 80px;
      &__block {
          column-gap: 31px;
          padding-bottom: 2px;
      }
      &__block-head {
          font-size: 24px;
      }
      &__block-form-head {
          font-size: 22px;
          padding-top: 16px;
          margin-bottom: 13px;
      }
      &__block-form-email {
          min-width: 74%;
          margin-bottom: 20px;
      }
      &__block-form-btn {
          min-width: 27%;  
      }
  }
}
@media (max-width: $breakpoint2) {
  .about {
    padding-bottom: 60px;
      &__block {
          padding-top: 30px;
          margin-bottom: 1px;
          padding-bottom: 0px;
          &-form-email {
              min-width: 100%;
          }
          &-form-btn {
              min-width: 37%;
          }
          &-form-head {
              line-height: 22px;
              padding-top: 8px;
              margin-bottom: 17px;
          }
      }  
  }
}
@media (max-width: $breakpoint3) {
  
  .about{
    padding-bottom: 0px;
      &__block {
      display: grid;
      grid-template-columns: repeat(1,auto);
      padding-top: 33px;
      padding-bottom: 60px;
      align-items: flex-start;
      justify-self: start;
      grid-template-areas:
          "head head"
          "text text"
          "img img"
          "form form";
          &-form-email {
              margin-right: 0px;
              font-family: Roboto;
              padding-left: 23px;
              font-size: 16px;
          }
          &-head {
            font-size: 18px;
          }
          &-text {
            font-size: 14px;
            line-height: 25px;
            padding-bottom: 23px;
          }
          &-form-head {
            font-family: "TT Firs Neue", sans-serif;
            font-size: 17px;
            line-height: 20px;
            padding-top: 22px;
            margin-bottom: 15px;
          }
          &-form-email {
            margin-right: 0;
            min-height: 40px;
            font-family: Roboto;
            padding-left: 22px;
            font-size: 14px;
            &-error {
                top: 57px;
                left: 23px;
                color: #f06666;
            }
          }
          &-form-btn {
            min-width: 42%;
            min-height: 40px;
            font-size: 14px;
          }
      }
  }
}
._errorh {
	border: 1px solid #F06666;
	outline: #F06666;
}
.errorv {
  display: block;
}