@import '_variables.scss';
.ymaps-layers-pane {
	filter: grayscale(1);
	-ms-filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
}
.contact {
    padding-bottom: 62px;
    &__head {
        margin-bottom: 12px;
        font-size: 24px;
        font-weight: bold;
    }
    &__block {
        display: grid;
        grid-template-columns: 66% 33%;
        grid-template-rows: repeat(1,auto);
        -moz-column-gap: 30px;
        column-gap: 30px;
        align-items: flex-start;
        justify-self: start;
        grid-template-areas: "map form";
    }
    &__form {
        grid-area: form;
        max-width: 100%;
        &-head{
            margin-bottom: 3px;
            font-size: 24px;
            font-weight: 100;
        }
        &-descr {
            margin-bottom: 14px;
            padding-right: 26px;
            font-family: $roboto;
            font-size: 16px;
            line-height: 22px;
            color: #999999;
        }
        &-input {
            margin-bottom: 20px;
            padding-left: 23px;
            width: 96%; 
            min-height: 50px;
            font-family: $roboto;
            letter-spacing: 2px;
            background-color: #E9E9E9;
            border: none;
            outline: none;
        }
        &-textarea {
            width: 96%;
            min-height: 150px;
            margin-bottom: 15px;
            padding: 16px 0 0 20px;
            font-family: $roboto;
            letter-spacing: 2px;
            background-color: #E9E9E9;
            border: none;
            outline: none;
        }
        &-btn {
            min-width: 126px;
            min-height: 50px;
            color: $colorWhite;
            font-size: 16px;
            font-family: $roboto;
            font-weight: bold;
            background-color: $orange;
            border: none;
            outline: none;
            transition: 0.3s background linear, 0.3s border linear;
            &:hover{
                background-color: $hoverClassicBtn;
            }
            &:focus {
                background-color: #FF6E30;
                border: 2px solid #CE4307;
            }
            &:active {
                background-color: #CE4307;
            }
        }
    }
    &__map {
        position: relative;
        padding-top: 12px;
        grid-area: map;
        max-width: 100%;
        min-height: 460px
    }
    &__tooltip {
        padding: 174px 50px 50px 60px;
        max-width: 410px;
        min-height: 460px;
        position: absolute;
        top: 11px;
        left: 0;
        background-color: rgb(32, 32, 32, 85%);

        &-head {
            margin-bottom: 4px;
            font-size: 24px;
            line-height: 22px;
            color: $colorWhite;
            font-weight: 200;
        }
        &-adress {
            margin-bottom: 3px;
            font-size: 16px;
            font-family: $roboto;
            line-height: 28px;
            font-weight: 200;
            color: #CACACA;
        }
        &-phone {
            color: $orange;
            text-decoration: none;
            padding-left: 20px;
            background-image: url('images/Vector.png');
            background-repeat: no-repeat;
            background-position: center left;
        }
        &-close {
            position: absolute;
            width: 20px;
            height: 20px;
            top: 20px;
            right: 20px;
            &-svg {
                width: 20px;
                height: 20px;
            }
            
        }
    }
   
}
#map {
    width: 100%;
    height: 464px;
}
.close {
   transform: translateX(-400px);
   opacity: 0;
}
@media (max-width: $breakpoint1) {
    .contact {
        padding-bottom: 59px;
        &__block {
            display: grid;
            grid-template-columns: 61.5% 37%;
            grid-template-rows: repeat(1,auto);
            column-gap: 30px;
        }
        &__map {
            max-width: 100%;
        }
        &__tooltip {
            padding: 25px 220px 21px 30px;
            max-width: 100%;
            max-height: 157px;
            min-height: 100px;
            position: absolute;
            top: auto;
            bottom: 6px;
            &-phone {
                font-family: "TT Firs Neue", sans-serif;
                font-size: 16px;
                padding-left: 33px;
                background-position: 14px 2px;
            }
        }
        &__form{
            &-head {
                margin-bottom: 0px;
            }
        }
    }
    #map {
        width: 100%;
        height: 464px;
    }
   
}

@media (max-width: $breakpoint2) {
    .contact {
        padding-bottom: 68px;
        &__block {
            display: grid;
            grid-template-columns: 66% 33%;
            grid-template-rows: repeat(1,auto);
            -moz-column-gap: 30px;
            column-gap: 30px;
            row-gap: 13px;
            align-items: flex-start;
            justify-self: start;
            grid-template-areas: 
            "map map"
            "form form";
        }
        &__map {
            max-width: 97%;
        }
        &__tooltip {
            padding: 24px 235px 21px 32px;
            max-width: 100%;
            min-height: 157px;
            position: absolute;
            top: 65.6%;
            bottom: -4px;
        }
        &__form-descr {
            padding: 0 247px 0 0;
        }
        &__form {
            display: flex;
            flex-direction: column;
            width: 100%;
            &-input {
                width: 63.5%;
            }
            &-textarea {
                width: 63.5%;
                margin-bottom: 21px;
            }
            &-btn {
                max-width: 126px;
            }
        }
    }
}
@media (max-width: $breakpoint3) {
    #map {
        position: absolute;
        left: -18px;
        width: 113%;
    }
    .contact{
        padding-bottom: 22px;
        position: relative;
        min-height: 981px;
        margin-bottom: 28px;
        &__conatiner {
            position: relative;
        }
        &__head {
            margin-bottom: 13px;
            font-size: 18px;
            font-weight: 700;
        }
        &__block {
            position: relative;
            display: grid;
            grid-template-columns: repeat(auto-fill, 100%);
            grid-template-rows: repeat(1,auto);
            -moz-column-gap: 30px;
            column-gap: 0px;
            row-gap: 15px;
            align-items: flex-start;
            justify-self: start;
            grid-template-areas:none;
        }
        &__map {
            grid-area: auto;
            max-width: 100%;
            padding-top: 0px;
            min-height: 469px;
        }
        &__tooltip {
            padding: 28px 0px 4px 22px;
            min-width: 115%;
            min-height: 157px;
            position: absolute;
            top: auto;
            left: -20px;
            bottom: -3px;
            &-head {
                margin-bottom: 11px;
                font-size: 18px;
            }
            &-adress {
                margin-bottom: 10px;
                font-size: 14px;
                font-family: Roboto;
                line-height: 18px;
                font-weight: 200;
                color: #cacaca;
            }
            &-phone {
                font-size: 14px;
            }
            &-close {
                right: 19px;
            }
        }
        &__form {
            padding: 10px 0px 0px 0px;
            grid-area: auto;
            max-width: 100%;
            &-head {
                font-size: 18px;
                margin-bottom: 8px;
            }
            &-textarea {
                margin-bottom: 21px;
                min-width: 100%;
                padding: 14px 0 0 24px;
                font-size: 14px;
                letter-spacing: 0;
            }
            &-input {
                min-width: 100%;
            }
            &-descr {
                padding: 0;
                font-size: 14px;
                line-height: 18px;
            }
            &-input {
                min-height: 40px;
            }
            &-btn {
                min-width: 116px;
                max-width: 116px;
                min-height: 40px;
                color: #fff;
                font-size: 14px;
                font-family: Roboto;
                font-weight: 700;
                background-color: #ff6e30;
                border: none;
                outline: 0;
            }
        }
    }
}