@import'_variables.scss';
@media (max-width: $breakpoint1) {
    .container {
        max-width: $breakpoint-tablet-container;
    }
}
@media (max-width: $breakpoint2) {
    .container {
        max-width: $breakpoint-714-container  
    }
    .grid__search {
        grid-template-columns: repeat(2,auto);
    }
}
@media (max-width: $breakpoint3) {
    .container{
        max-width: $breakpoint-320-container;
        padding: 0px 20px;
    }
    .none {
        display: none;
    }
}