$containerMaxWidth:  67vw;
$colorWhite: #FFFFFF;
$orange: #FF6E30;
$colorTag: #202020;
$roboto: 'Roboto';
$breakpoint-tablet-container: 1014px;
$breakpoint-714-container:  762px;
$breakpoint-320-container:  317px;
$breakpoint1: 1155px;
$breakpoint2: 920px;
$breakpoint3: 730px;
$breakpoint-tablet: 1024px;
$hoverClassicBtn: #BC572B;